# DDoS-Protect Environment Configuration
IFACE=eth0
RATE_LIMIT_PPS=100000
GLOBAL_UDP_PPS=100000

# Optional Advanced Filtering
# ALLOWED_SNI=vpn.example.com
# ALLOWED_PORTS=80,443,8443
# STRICT_TCP_TRACKING=0
# METRICS_ADDR=127.0.0.1:9090

# Default Botnet Geo-Block
BLOCKED_COUNTRIES=br za mx bd in ar co cn ve ec pk uz tn vn id th ir ng eg tw kr
